<wm-page data-ng-controller="EmployeesPageController" name="page1"> 
    <wm-left-panel content="leftnav" columnwidth="2" name="left_panel1"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1" title="EMPLOYEES" backbutton="false"> 
        <wm-anchor name="anchor1" iconclass="glyphicon glyphicon-plus" caption="" show="false"></wm-anchor> 
    </wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livelist listclass="list-group" itemclass="list-group-item" name="EmployeeLivelist" selectfirstitem="false" on-click="Variables.GoogleapisInvoke.invoke();Variables.goToPage_EmployeesProfile.invoke()" dataset="bind:Variables.HrdbEmployeeData.dataSet"> 
                <wm-listtemplate layout="media" name="listtemplate2"> 
                    <wm-container class="media-left" name="container2"> 
                        <wm-picture class="media-object picture" width="40pt" picturesource="bind:Variables.HrdbEmployeeData.dataSet.data[$i].picurl" name="picture1"></wm-picture> 
                    </wm-container> 
                    <wm-container class="media-body" data-template-ctr="true" name="container3"> 
                        <wm-label name="nameLabel" caption="bind:Variables.HrdbEmployeeData.dataSet.data[$i].firstname+' '+Variables.HrdbEmployeeData.dataSet.data[$i].lastname" width="100%" class="h4"></wm-label> 
                        <wm-label name="deptName" width="100%" caption="bind:Variables.HrdbEmployeeData.dataSet.data[$i].department.name" class="text-uppercase text-muted"></wm-label> 
                        <wm-label name="cityName" width="100%" caption="bind:Variables.HrdbEmployeeData.dataSet.data[$i].city" class="text-uppercase text-muted"></wm-label> 
                    </wm-container> 
                    <wm-container class="media-right media-middle" name="container4"> 
                        <wm-anchor caption="" iconclass="fa fa-chevron-right fa-lg" name="anchor2"></wm-anchor> 
                    </wm-container> 
                </wm-listtemplate> 
            </wm-livelist> 
        </wm-page-content> 
    </wm-content> 
</wm-page>